<?xml version="1.0" encoding="UTF-8"?>
<exhibit>
  <filegroup>
    <fileStructure>
      <column name = "Index"/>
      <column name = "Name"/>
      <column name = "EAN"/>
    </fileStructure>
      <file name="products-1000.csv" time = "11.45" graceperiod = "60"/>
  </filegroup>

  <filegroup>
    <fileStructure>
      <column name = "Index"/>
      <column name = "User Id"/>
      <column name = "First Name"/>
      <column name = "Last Name"/>
      <column name = "Sex"/>
      <column name = "Email"/>
      <column name = "Phone"/>
      <column name = "Date of birth"/>
      <column name = "Job Title"/>
    </fileStructure>
      <file name="people-10000.csv" time = "11.45" graceperiod = "120"/>
  </filegroup>
</exhibit>